.stepper {
  display: flex;

  .label {
    margin-left: var(--space-4);
    height: 2rem;
    align-content: center;
    color: var(--color-text-primary);
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;

    .count {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 2rem;
      width: 2rem;
      border-radius: 50%;

      background-color: var(--color-bg-muted);
      color: var(--color-text-primary);
      border: 1px solid var(--color-border-default);

      &.active {
        background-color: var(--color-action-primary-bg);
        color: var(--color-action-primary-text);
        border-color: var(--color-action-primary-bg);
      }
    }

    .connector {
      width: 2px;
      height: 2rem;

      background-color: var(--color-border-default);

      &.active {
        background-color: var(--color-action-primary-bg);
      }
    }
  }
}
