.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 15rem;
  position: fixed;
}

.panel__content {
    max-height: 0px;
  transition: max-height 0.5s linear;
  overflow: clip;
}

.panel__heading {
  margin: 0px;
  height: 2rem;
  button {
    width: 100%;
    height: 100%;
  }
}
